<!-- Head banner -->
<style>
  .hero-background { background-image: url('/media/0_0.jpg'); background-size:
  cover; background-position: center; }
</style>
<section class="hero is-small is-primary">
  <div class="hero-body hero-background">
    <p class="title">CRM</p>
    <p class="subtitle">Yay Leads</p>
  </div>
</section>
<!-- /Head banner -->