<!-- Head banner -->
<style>

</style>
<section class="hero is-small is-warning">
  <div class="hero-body">
    <p class="title">CRM</p>
    <p class="subtitle">Yay Leads</p>
  </div>
</section>
<!-- /Head banner -->