<body>
  {{> container}} {{> modals}}

  <div class="buffer-id" hidden id="buffer-id"></div>
  <div class="buffer-name" hidden id="buffer-name"></div>

  <script src="/static/scripts/footer.js"></script>
</body>
