<!-- Main Container -->
<div class="container">
  {{> navbar}} {{> banner}}

  <div class="block"></div>

  {{> dynamic_content}}

  <div class="block"></div>

  {{> footer}}
</div>
<!-- /Main Container -->
