<!-- Main Container -->
<div class="container" id="container">
  {{> navbar_login}} {{> banner}}

  <div class="block"></div>

  {{> dynamic_content}}

  <div class="block"></div>

  {{> footer}}
</div>
<!-- /Main Container -->
