<!-- here's where the magic happens class="hero-background-->
<section class="section hero-background" id="dynamic-content">
  <!-- <div class="hero-body">
    <video poster="" id="bgvid" playsinline autoplay muted loop preload="auto">
      <source src="media/main_background.mp4" type="video/mp4" />
    </video>
  </div> -->
</section>
<!-- here's where the magic happens -->