<!-- Footer-->
<section class="section">
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>&copy; 2024 Yay Leads</strong>
      </p>
    </div>
  </footer>
</section>
<!-- /Footer -->
