<section class="section">
  <!-- Navbar section -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-start">
        <img
          class="navbar-item"
          src="https://media.licdn.com/dms/image/C4E0BAQFiPmMfUP226g/company-logo_200_200/0/1672639387526/yayleadsmx_logo?e=2147483647&v=beta&t=iTE1q3k9J3Q6vBt7U8N4WNk1vuj8b3W7auP0a4hmHTg"
          alt="Yay leads"
        />
      </div>

      <div class="navabar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a
              href="/home"
              class="button is-dark"
              hx-on:click="await auth0.loginWithRedirect();"
            >Login</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>
<!-- /Navbar section -->