<div class="modal" id="delete-user-alert">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Component</p>
        <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </header>
      <div class="card-content">
        <div class="content" id="delete-user-message">
          &iquest; Desea eliminar al usuario {{u.name}} {{u.last_name}}
          permanentemente? Esta acción es definitiva.
          <br />
          <time datetime="{{this_date}}">{{this_date}}</time>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" onclick="remove_class_delete_user()"
          >Cancel</a
        >
        <a href="#" class="card-footer-item">&nbsp;</a>
        <a href="#" class="card-footer-item" id="delete-user-button"
          >Delete User</a
        >
      </footer>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
